.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: grey;
}
.box{
	margin: 10px 0px;
	min-height: 80px;
	background-color: white;
	font-size: 30px;
	text-align: center;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}